* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  min-height: 100vh;
  background-color: #5c5c5c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
}

/* HEADER */
.login-header {
  width: 98%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-radius: 40px;
  margin: 15px;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.title {
  background: #f28c28;
  padding: 8px 40px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
}

/* BACK BUTTON */
.back-button {
  padding: 10px 40px;
}

.back-button button {
  background: #f28c28;
  border: none;
  padding: 6px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* CARD */
.login-card {
  align-self: center;
  background: #ffffff;
  border: 3px solid #f28c28;
  border-radius: 20px;
  padding: 40px 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-card h2 {
  background: #f28c28;
  padding: 8px 30px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.login-card input {
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: #e6b07a;
  text-align: center;
  font-size: 14px;
}

/* FOOTER CARD */
.login-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.forgot {
  font-size: 12px;
}

.btn-primary {
  padding: 8px 20px;
  background: #f28c28;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* FOOTER */
.footer {
  text-align: center;
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}